*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    
    width: 100vw;
    height: 
    100vh;
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar-list{
    display: flex;
   gap:  32px;
   align-items: center;
}

.nav-bar-list-right{
    display: flex;
    gap:  12px;
    align-items: center;
    justify-content: space-between;
}
.nav-link-text{
   font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #18191F;
}
.nav-link{
    list-style: none;
}
.nav-bar{
    max-width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: auto;
}
.hero-section{
    display: flex;
    justify-content: space-around;
   
    margin: 100px auto auto;
    
}
.hero-title{
   
    font-family: 'Inter'sans-serif;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    color: #18191F;
    margin: 70px;
}
.hero-content{
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.hero-button{
    width: 154px;
    height: 48px;
    padding: 12px 32px 12px 32px;
    background: #8C30F5;
    color: #FFFFFF;
   
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}